  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size:23px;
  }
  .headingDiv
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float:none;
    padding:10px;
  }
  .headingDiv2
  {
    font-size: 18px ;
  }
  .resultToTag span
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    white-space:pre-line;
  }
  .copyRightFooter
  {
    position:fixed;
    color:white;
    bottom:0;
    width:100%;
    background-color:grey;
    line-height:3;
    text-align:center;
  }